@import "styles/variables";

.worth-item-row {
  .edit-item-icon {
    display: none;

    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    background-color: $light;
    .edit-item-icon { display: inline-block; }
  }
}
