// main scss file for all global styling.

@import "./variables";
@import "bootstrap/scss/bootstrap";
@import "styles/vendor/bootswatch";


body {
  font-family: "Lato", Arial, sans-serif;
  background-color: $light;
}

.warning-icon {
  margin-right: 1rem;
  color: $danger;
}
