@import "styles/variables";

.landing-navbar {
  background-color: $light;
  border-bottom: 1px solid darken($light, 10);

  .home-icon {
    color: $primary;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 1.5rem;
      display: inline;
      margin: 0;
    }
  }
}