@import "styles/variables";

.statement-item-row {
  transition: 0.3s ease all;

  &:hover {
    background-color: lighten($secondary, 20);
    cursor: pointer;
  }

  .worth-up {
    color: $success;
  }

  .worth-down {
    color: $danger;
  }
}
