@import "styles/variables";

.statement-item-row {
  transition: 0.3s ease all;
  .edit-item-icon {
    display: none;

    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    background-color: lighten($secondary, 20);
    .edit-item-icon { display: inline-block; }
  }
}
